<h2>Descripcion</h2>
<p>Somos una entidad que se refleja en los conocimientos, experiencia, tutorías, etc…
  Y de otras formas de aprendizaje de manera gratuita sin coste alguno para que las personas puedan aprender de otras sin ostentar títulos ni nada parecido simplemente de manera voluntaria y poder conocer a otras personas de tu mismo gremio u oficio dependiendo que profesión tengas o trabajes en ese mismo momento también.
  También puedes hacer quedadas en grupo del mismo hobbie o gustos para que se pueda disfrutar de cosas en grupo.

  Ofrecemos esta App para que la gente se una y salgan de su rutina para que puedan apreciar la convivencia para que puedan ser ellos mismos sin necesidad de ocultarse y ofrecer su vida al máximo de sus posibilidades, hacer que vivan riendo y disfrutando de un rato muy agradable sin pensar en preocupaciones ni problemas, que se unan para hacer un mundo mejor que de antaño.
  Lo que queremos hacer al crear esta aplicación es que las personas del mundo se conozcan de una manera directa nada de violencia, ni que pase a mayores con el fin de hacer una App pacifica y con mucho apoyo de los usuarios se pueda mejorar hasta un punto que no haya barreras entre las personas
  , las personas tímidas dejaran de serlo, las egoístas empezaran a compartir, los rencorosos lo dejaran de ser, no se podría hacer por que <i><strong>(donde hay bien hay mal)</strong></i> pero es nuestro objetivo inicial para poder empezar a convivir en harmonia entre nosotros 
 <strong> Si te gusta únete a nosotros y no te arrepentiras!!!!!! </strong>
  
  
</p>