<h2>QUIÉNES SOMOS</h2><br /><br />
<section>
  <div>
    <h4><b><i>Handy</i></b> somos una comunidad que comparte conocimientos, experiencia, diversión y  otroso servicios de forma gratuita para que las personas puedan aprender de manera voluntaria y puedan conocer gente afín a sus intereses, profesiones y afinidades a través de encuentros de reducidos o eventos grupales.<br /><br /></h4>

     <h5>Ofrecemos esta App para que la gente salga de su rutina,  genere comunidad en el entorno, se movilice de forma más solidaria, comparta su conocimiento, rían y disfruten de un rato muy agradable.<br /><br />

    Lo que queremos hacer al crear esta aplicación es que las personas del mundo se conozcan de forma más directa y a partir de filtros  alejados de posibles discriminaciones raciales y de génereo.
    <strong> Si te gusta, ¡únete a nosotros y empieza  disfrutar! </strong></h5>
  </div>
  <figure>
      <img src="assets/perfil2.jpg" name="person">
    </figure>
  </section>    

<h3>TESTIMONIOS</h3>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p><b>Paloma C.</b></p><p><i>"Me encanta participar en handy, he hecho un montón de amigas y nunca me aburro."</i></p>
      </div>
      <div class="carousel-item">
          <p><b>Juan Lopez</b></p><p><i>"Conozco a todo el barrio! Es genial encontrarse con los vecinos y saber cómo se llaman, que sean amigos y que puedas contar con ellos :)"</i></p>
      </div>
      <div class="carousel-item">
          <p><b>Amy Sum</b></p><p><i>"I am learning catalan thanks of handy, OMG i am so thankfull. Estic molt contenta de aprendre catalan amb Laura, profesora no oficial pero molt profesional. A canvi, jo li faig el sopar tres cops a la setmana, és molt divertit"</i></p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<h3>EMPRESAS QUE CONFÍAN EN NOSOTROS</h3>
<div class="empresas">
  <figure><img src="assets/hardrock2.jpg"></figure>
  <figure><img src="assets/humana2.jpg"></figure>
  <figure><img src="assets/escape2.jpg"></figure>
  <figure> <img src="assets/cinesa2.jpg"></figure>
  
  <!-- <img src="assets/macba2.jpg"> -->
</div>