<h3>Nombre</h3>
<article>
  <div>
    <img src="assets/usuario_vacio.png">
    <img class="estrellas" src="assets/estrella_dorada.png">
    <img class="estrellas" src="assets/estrella_dorada.png">
    <img class="estrellas" src="assets/estrella_dorada.png">
    <img class="estrellas" src="assets/estrella_dorada.png">
    <img class="estrellas" src="assets/estrella_dorada.png">
    <img src="assets/mensaje_chat.png">
  </div>
  
  <div>
    <h4>Busco:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fugiat optio ipsam,</p>
    <h4>Ofrezco</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima atque, illo veni</p>
  </div>
</article>

