
 .general{
    border: 5px solid rgba(66, 121, 66, 0.385);
    border-radius: 10px;
    margin-bottom: 3vw;
}
 article{
    display: flex;
 }
 .estrellas{
    display: inline-block;
    width: 10%;
 }
 div:first-of-type{
    flex: 1;
    text-align: center
 }
 div:nth-of-type(2){
    flex: 3;
 }
 .usuario{
    width: 100%;
 }
 .imagenChat{
    width: 30%;
    display: block;
 }
 h3{
    border-bottom: 2px solid rgba(66, 121, 66, 0.685);
    padding: 2vw;
    font-size: calc(15px + 2vw);
    margin: 0;
    color: cornflowerblue;
 }
