<div class="general">
<h3>{{usuario.nombre}}</h3>
<article>
 <div>
   <img class="usuario" src="./assets/usuario_vacio.png">
   <div >
     <div>
       <img class="estrellas" *ngFor="let str of estrellas" [src]="str?'assets/estrella_dorada.png':'assets/estrella_nodorada.png'"  />
     </div>
     <img class="imagenChat" src="assets/mensaje_chat.png" >
   </div>
 </div>


<div class="flex">
    <!-- <div class="container">
        <div class="row">
          <div class="col-2">
           <p>{{usuario.tema}}</p>
          </div>
          <div class="col-2">
              <p>{{usuario.barrio}}</p>
          </div>
          <div class="col-2">
              <p>{{usuario.tiempo}}</p>
          </div>
        

        </div>
      </div> -->
      <div>
        <h4>Tema:</h4>
        <p>{{usuario.tema}}</p>
        <h4>Barrio:</h4>
        <p>{{usuario.barrio}}</p>
        <h4>Tiempo:</h4>
        <p>{{usuario.tiempo}}</p>
      </div>
    <div>
      <h4>Busco:</h4>
      <p>{{usuario.necesita}}</p>
      <h4>Ofrezco</h4>
      <p>{{usuario.ofrece}}</p>
    </div>
 </div>

</article>
</div>