<header>
  <div>
      <img src=""/> <p>aquí va el logo + claim</p>
  </div>
  <div>
      <!-- #loginForm="ngForm" (ngSubmit)="formularioLogin()" -->
    <form  >
        <!-- [(ngModel)] = "login.usuario" -->
      <input type="text"  name= "usuario" placeholder="Nombre de usuarix" required>
      <!-- [(ngModel)] = "login.contra" -->
      <input type="text" name= "contra" placeholder="Contraseña" required>
      <button>OK</button>
      <p  [routerLink]="['/registro']">Registrarse</p>
    </form>
  </div> 
</header>
<hr>

<!-- COMPROBAR
<pre>{{login|json}}</pre>

<pre>{{loginForm.valid}}</pre> -->