<header>
  <div>
    <img src="assets/handylogo.png"  name="logo">
  </div>
  <div>      
    <form (ngSubmit)="formularioLogin()">
        
      <input type="text" [(ngModel)] = "login.usuario" name= "usuario" placeholder="Nombre de usuarix" required>
      
      <input type="password" name= "contra" [(ngModel)] = "login.contra" placeholder="Contraseña" required>
      <button>OK</button>
      <p  [routerLink]="['/registro']">Registrarse</p>
    </form>
  </div> 
  <div>  
    <h1>Encuentra la ayuda que necesitas, <br /> ofrece lo mejor de ti</h1>
    <h1>Handy</h1>
  </div>

</header>
<hr>

<!-- COMPROBAR
<pre>{{login|json}}</pre>

<pre>{{loginForm.valid}}</pre> -->