<div>
    <h4><b>HANDY</b></h4>
    <p>FAQS</p>
    <p>Equipo</p>
    <p>Colaboradores</p>
    <p>Contacto</p>
    <p>Prensa</p>
</div>
   
<div>
    <h4><b>LEGAL</b></h4>
    <p>Términos y condiciones</p>
    <p>Política de privacidad</p>
    <p>Política de uso</p>
</div>
   
<div>
      <h4><b>REDES</b></h4>
        <a href="https://www.facebook.com/"> <img src="assets/fb.png"  name="facebook"></a>
        <a href="https://www.instagram.com/?hl=es"> <img src="assets/insta.png"  name="instagram"></a>
        <a href="https://twitter.com/?lang=es"> <img src="assets/twit.png"  name="twitter"></a>
</div>
   
   