<section>
  
  <div><img src="assets/comida.jpg" name="food"></div>
  
  <div class="entrada">
    <p>La <b>comunidad perfecta</b> para conseguir y dar lo que te apetezca sin gastar dinero.Encuentra un profesor de inglés, una manitas de la casa o alguien con quien ir al cine.</p>
    <p  [routerLink]="['/registro']"><u><b>¡Apúntate!</b></u></p>
    <img src="assets/handylogo.png" name="logo" id="logo">
  </div>
 
  <div><img src="assets/lectura.png" name="food"></div>

</section>
  <usuario-tablon *ngFor="let unUsuario of usuarios"  [usuario]="unUsuario" [routerLink]="['/usuario',unUsuario._id]"></usuario-tablon>

<section id="cuenta">
  <div>
    <p ><b>ENTRA EN TU CUENTA</b></p>
    <form>
        <input type="text"  name= "usuario" placeholder="  Usuario"  class="logear" required><br />
        <input type="text" name= "contra" placeholder="  Contraseña" class="logear" required>
         <p>| OK |</p>
    </form>
  </div>
  <div>
        <p  [routerLink]="['/registro']"><b>REGÍSTRATE</b></p>
        <p  [routerLink]="['/registro']">&#9829;</p>
  </div>
</section>

<section>
  
  <h2 id="tablon"><b>T A B L Ó N</b></h2>
<div class="oculto">
    <span>
      <input type="text" [(ngModel)]="filtro" placeholder="Buscar por palabra"/>
    </span>
    <select>
      <option selected>Filtro de profesion</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
    </select>
    <section>
      <usuario-tablon *ngFor="let unUsuario of usuarios"  [usuario]="unUsuario"></usuario-tablon>
    </section>
  </div> 
</section>
