*{
    color:grey;
}

button{
    background-color:white;
    margin-left:1vw;
    border: solid 1px grey;
}

select{
    height: 28.3px;
}

p:first-of-type{
    padding:4vw;
    padding-bottom:0; 
}
form{
    padding-left:4vw;
    
}
