<p>BUSCAR POR FILTRO</p>
<form (ngSubmit)="buscarFiltro()">
  <select name="puntuacion" [(ngModel)]="puntuacion">
    <option selected="selected" value="puntuacion" disabled>Puntuación</option>
    <option value="5 estrellas">5 Estrellas</option>
    <option value="4 estrellas">4 Estrellas</option>
    <option value="3 estrellas">3 Estrellas</option>
    <option value="2 estrellas">2 Estrellas</option>
    <option value="1 estrellas">1 Estrella</option>
  </select>


  <select name="barrio" [(ngModel)]="barrio">
    <option value="barrio" disabled>Barrio</option>
    <option value="ciutat vella">Ciutat Vella</option>
    <option value="eixample">Eixample</option>
    <option value="sants montjuic">Sants-Montjuic</option>
    <option value="corts">Les Corts</option>
    <option value="sarria sant gervasi">Sarrià-Sant Gervasi</option>
    <option value="gracia">Gràcia</option>
    <option value="horta">Horta-Guinardó</option>
    <option value="nous barris">Nous Barris</option>
    <option value="sant andreu">Sant Andreu</option>
    <option value="sant marti">Sant Martí</option>
  </select>


  <select name="tiempo" [(ngModel)]="tiempo">
    <option selected value="tiempo" disabled>Tiempo</option>
    <option value="hoy">Hoy</option>
    <option value="esta semana">Esta semana</option>
    <option value="proxima semana">La próxima semana</option>
    <option value="entre semana">Entre semana</option>
    <option value="fin de semana">Fin de semana</option>
    <option value="todo el dia">Todo el día</option>
    <option value="mañana">Por la mañana</option>
    <option value="tarde">Por la tarde</option>
    <option value="noche">Por la noche</option>
  </select>

  <select name="tema" [(ngModel)]="tema">
    <option selected="selected" value="tema" disabled>Tema</option>
    <option value="cultura">Cultura</option>
    <option value="hogar">Hogar</option>
    <option value="deporte">Deporte</option>
    <option value="juegos">Juegos</option>
    <option value="clases">Clases</option>
    <option value="animales">Animales</option>
    <option value="otros">Otros</option>
  </select>
  <button>Buscar</button>
</form>