*{
    color:grey;
}

button{
    background-color:white;
    margin-left:1vw;
    border: solid 1px grey;
}

select{
    height: 28.3px;
}

p:first-of-type{
    padding:4vw;
    padding-bottom:0; 
}
form{
    padding-left:4vw;
    
}
form select{
    margin-right: 1vw;
}

label{
    margin-right: 2vw;
}
label:first-of-type{
    margin-left: 4vw;
}
label:nth-of-type(2){
    margin-left: 1.75vw;
}
label:nth-of-type(3){
    margin-left: 10.5vw;
}
label:nth-of-type(4){
    margin-left: 9.5vw;
}

