$color : blue;
form{
 border: solid 1px green;
 padding: 1em;
 border-radius: 30px;
    > div{
    border: solid 1px;
    margin:  5px 0;
    border-radius: 5px;

    label{
        color: green; 
    }
    input{
        color:red;
    }
    *{
        width: 100%;
    }

    *.ng-touched.ng-valid{
        border: solid 1px orangered;
    }
    *.ng-touched.ng-invalid{
        border: solid 1px rebeccapurple;
    }
   }
}
 