h2{
color: rgb(0, 51, 51);
padding-left:3%;
}
form{
    background-color: rgb(165, 189, 167);
    margin: 0 0 5% 3%;
}

.borde{
    border: solid white 2px;
    margin:3%;
    padding:1%;
}

    label{
        color: rgb(0, 51, 51);
        width: 60%;
    }
    input{
        color:rgb(0, 51, 51);
       
    }
    *{
        width: 90%;
    }

    *.ng-touched.ng-valid{
        border: solid 1px green;
    }
    *.ng-touched.ng-invalid{
        border: solid 1px orange;
    }

    button:first-of-type{
        width:15%;
        color:rgb(0, 51, 51);
    }

    button:first-of-type{
        width:30%;
        color:rgb(0, 51, 51);
    }
    

 div:first-of-type{
     display: flex;
     text-align: center;

 }