<div *ngIf="unUsuario" class="borde marginauto">
<h3 class="nombre">{{unUsuario?.nombre}}</h3>
<hr class="margenbotom">
<article>
<div>
  <img class="usuario margenbotom1" src="./assets/usuario_vacio.png">
  <div >
    <div>
      <img class="estrellas margenbotom1" *ngFor="let str of estrellas" [src]="str?'assets/estrella_dorada.png':'assets/estrella_nodorada.png'"  />
      <form class="inlinedisplay" (ngSubmit)="guardarFormulario()">
        <select name="votacion" [(ngModel)]="votacion" >
        <option  value="1">1 Estrella</option>
        <option value="2">2 Estrella</option>
        <option value="3">3 Estrella</option>
        <option value="4">4 Estrella</option>
        <option value="5">5 Estrella</option>
      </select>
      <button type="submit"><b>Vota</b></button>
      </form>
    </div>
    <img class="imagenChat margenbotom inlinedisplay" src="assets/mensaje_chat.png" [routerLink]="['/chat',unUsuario?._id]">
  </div>
</div>

<div>
  <label>Informacion Personal:</label>
  <p>{{unUsuario?.nombre}} {{unUsuario?.apellidos}}</p><br>
  
  <label>Correo: </label><p>{{unUsuario?.correo}}</p><br>
 
  <label>Poblacion: </label><p>{{unUsuario?.barrio}}</p><br>

  <label>Aniversario: </label> <p>{{unUsuario?.fechaNacimiento}}</p> <br>

  <label>Genero: </label> <p>{{unUsuario?.genero}}</p>

</div>

</article>
<article class="margenbotom">
<div>
 <label>Ofrecimientos:</label>
 <p>{{unUsuario?.ofrece}}</p>

</div>
<div>
  <label>Necesidades:</label>
     <p>{{unUsuario?.necesita}}</p>
</div>


</article>
<article>
 <div>
 <h3>Amigos</h3>
 <p>{{unUsuario?.amigos}}</p>


 </div>
</article>
</div>